/*! Override custom style of Foundation 5 */


/*UM ORANGE MAIN COLOR*/
/*
UM_ORANGE_HOVER = #fc963c;
UM_ORANGE_MAIN = #fc7600  ;
*/
/*UM GREEN MAIN COLOR*/
/*UM_GREEN = #0b762e;
UM LIGHTER GREEN, LINKS #10a541 
*/


/*adding in Oswald google font */
font-family-sans-serif: 'Oswald', sans-serif;
font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

body {
  font-family: 'Oswald', sans-serif;
}

/*change heading styles to oswald font*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

/*for top nav font links*/
.top-bar-section ul li > a {
    font-family: 'Oswald', sans-serif; 
    font-weight: 100;
    font-size: 16px;
}

/*===========BUTTON STYLE CHANGES    =================================================== */

/*change button styles*/
button, .button {
  font-family: 'Oswald', sans-serif;
  background-color: #fc7600;
  border-color: #fc963c;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
    border-radius: 5px;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #fc963c;
}
/* BUTTON HOVER TO UM LIGHT ORANGE*/
button:hover, button:focus, .button:hover, .button:focus {
  color: #FFFFFF;
}
/* BUTTON HOVER TO UM LIGHT ORANGE*/
a {
  color: #10a541;
}

input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 10px;
  margin-left: 10px;
}

/*===========PANEL STYLE CHANGES FROM DEFAULT  =================================================== */

.panel {
  border-radius: 5px;    
}

.user-info-panel{
  padding-bottom: 25px;
  padding-top: 20px;
  padding-left: 0;
}

#user-avatar-div {
    height: 155px;
    width: 200px;
}

/*user avatar image sizing*/
.user-info-panel img {
    height: 155px;
    width: 155px;
}

/*user name and athlete type */
.user-info-panel p {
font-size: 24px;

}

.alert-box .close {
  opacity: 0;
  background: inherit;
}

table {
    width: 100%;
}
#homepage-logo {
  padding-bottom: 20px;
}
  

/*HOMEPAGE not loggedin ANNOUNCEMENT HEADING=================*/
#homepage-logo {
  padding-bottom: 20px;
    margin-top: 15px;
}

#homepage-announcement { 
margin-bottom: 20px;
}

#home-h1 {
   margin-bottom: 20px;
  margin-top: 10px;   
}
#logo-image {
   margin-bottom: 20px;
}

/*LEADERBOARD CSS*/
table tr th {
    color: #0b762e;
    background-color: #d8d8d8;
    font-size: 16px;    
}

/*MEMBER ATHLETE =================*/

#date {
margin-bottom: 10px;
  margin-top: 10px;
}

/*WOD BOXES ALL PAGES =================*/

/*// Large screens*/
@media only screen and (min-width: 64.063em) { 
    
    #wod_box {
        margin-right: 15px; 
        width: 48%;
    }
}

/* ACTIVITY PAGE BOXES  =======================================*/
#activity-score, #activity-level {
color: #fc7600;
}

#activity-date {
color: #10a541;
float: right;
margin-left: 15px;
} 
/*// Large screens*/
@media only screen and (min-width: 64.063em) { 
    #activity_box {
/*        height: 400px; */
        margin-bottom: 15px;
    }
}

/*WOD RESULTS LOG STYLES FOR FORMS=================*/

#wod_results_description {

    background: #0b762e;
    border-radius: 10px;
}

#wod_results_description h3, #wod_results_description p {
    color: white;
}

select.wod_name {
  margin-top: 15px;
}

/*PR MAIN PAGE  ====================================================*/

#pr_date {
    color: #10a541;
    float: right;
    margin-left: 15px;
} 

/*CREATE PR PAGE  =================*/

#pr_h1 {
    color: #0b762e; 
}


/*UPDATE PROFILE PAGE SUCCESS PAGE  =================*/

#return_homepage a {
 color: white;
}

#update_success h1 {
    margin: 15px;
}




/* ==========================================================================
   Custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Mobile */
@media only screen and (min-width: 480px) {

.hello{
    color: blue;
    }

}
/* Intermediate */
@media only screen and (min-width: 768px) {

.hello{
    color: pink;
    }
}
/* Wide */
@media only screen and (min-width: 1140px) {
.hello{
    color: green;
    }

}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}